{%- include utils/get-sources.html -%}
{%- assign _sources = __return -%}

{%- assign _admin = '' -%}
{%- for _admin_id in site.gitalk.admins -%}
    {%- assign _admin = _admin | append: ", '" | append: _admin_id | append: "'" -%}
{%- endfor -%}
{%- assign _last = _admin | size | minus: 1 -%}
{%- assign _admin = _admin | slice: 2, _last -%}

<script>
    window.Lazyload.css('https://cdn.jsdelivr.net/npm/gitalk@1.6.2/dist/gitalk.css');
    window.Lazyload.js('{{ _sources.gitalk.js }}', function() {
        var gitalk = new Gitalk({
            clientID: '{{ site.gitalk.clientID }}',
            clientSecret: '{{ site.gitalk.clientSecret }}',
            repo: '{{ site.gitalk.repo }}',
            owner: '{{ site.gitalk.owner }}',
            admin: [{{ _admin }}],
            id: location.pathname.substr(0, 50)
        });
        gitalk.render('gitalk-comments');
    });
</script>