<meta charset="UTF-8">
{%- assign _author = site.author -%}
{%- assign _description = page.title | default: site.description -%}
{%- capture _keywords -%}
    {%- if include.isPost -%}
        {%- if page.tags.size > 0 -%}
            {%- for tag in page.tags  -%}
            {{ tag }}{%- if forloop.last == false -%}, {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- else -%}
        {{ site.keywords }}
    {%- endif -%}
{%- endcapture -%}
{%- capture _title -%}
    {%- if include.isPost -%}
        {{ page.title }} - {{ site.title }}
    {%- else -%}
        {{ site.title }}
    {%- endif -%}
{%- endcapture -%}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ _title }}</title>

<meta name="author"  content="{{ _author }}">
<meta name="description" content="{{ _description }}">
<meta name="keywords"  content="{{ _keywords }}">

<!-- Open Graph -->
<meta property="og:title" content="{{ _title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:site_name" content="{{ site.title }}">

<link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_271755_rdxzzo2kqwk.css">
<link rel="stylesheet" href="{{ "/assets/css/github-markdown.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/prism.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/share.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/app.min.css" | relative_url }}">

<script src="{{ "/assets/js/lazyload.js" | relative_url }}"></script>
{%- include sources/sources.html isPost = include.isPost-%}

<script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
<script src="{{ "/assets/js/index.min.js" | relative_url }}"></script>



